.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: #e9dad9;
    font-size: 92px;
    font-weight: 100;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
