.list {
  min-height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .item {
    min-height: 60px;
    background-color: #ffffff;
    border-top: 1px solid #eaeaea;
    display: flex;
    align-items: center;

    .checkbox {
      padding: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      padding: 14px 54px 14px 14px;
      flex: 1;
      overflow-y: auto;
    }

    &[aria-disabled='true'] > .text {
      color: #d4d4d4;
      text-decoration: line-through;
    }
  }
}
